<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <h4 class="card-title" style="margin-top: 15px;">Quiz List</h4>
              <h6 class="card-subtitle mb-2 text-muted">Add, Edit or Remove Quiz</h6>
            </div>
            <div class="col-md-6">
              <div class="form-group" style="text-align: left !important;">
                <input type='text' class="form-control" style="margin-top: 30px;" placeholder='Search for quiz...'
                  (keyup)='updateFilter($event)' />
              </div>
            </div>
           
            <div class="col-md-3 text-center">
              <br />
              <button type="button" class="btn btn-primary" (click)="addQuiz()">Add Quiz</button>
            </div>
          </div>
          <br>
          <div class="table-responsive" style="overflow: hidden !important;">
            <ngx-datatable #table class='table material fullscreen' style="box-shadow: none;" [columns]="columns"
              [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]='rows'>
              
              <ngx-datatable-column prop='title' name="Title">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span class="text-primary" style="font-weight: bold; font-size: 10px; cursor: pointer;" (click)="sort()">{{column.name}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop='subject' name="Subject">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span class="text-primary" style="font-weight: bold; font-size: 10px; cursor: pointer;" (click)="sort()">{{column.name}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="totalMarks" name="Total Marks">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span class="text-primary" style="font-weight: bold; font-size: 10px; cursor: pointer;" (click)="sort()">{{column.name}}</span>
                </ng-template>
              </ngx-datatable-column>
               <ngx-datatable-column prop="time" name='Time'>
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span class="text-primary" style="font-weight: bold; font-size: 10px; cursor: pointer;" (click)="sort()">{{column.name}}</span>
                </ng-template>
              </ngx-datatable-column>
              <!-- <ngx-datatable-column name="Actions">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <span class="text-primary" style="font-weight: bold; font-size: 10px;">{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button (click)="editUser(editUserModal, row)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                    data-original-title="Edit Task" rel="tooltip" title="Edit Task" type="button">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button (click)="deleteUser(deleteUserModal, row)" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                    data-original-title="Remove" rel="tooltip" title="Remove" type="button">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </ng-template> -->
              <!-- </ngx-datatable-column> -->
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>